#cloud-config

apt:
  sources:
    docker.list:
      source: deb [arch=amd64] https://download.docker.com/linux/ubuntu $RELEASE stable
      keyid: ${docker_gpg_keyid}

users:
  - name: ${vm_username}
    ssh-authorized-keys: ${ssh_pub_key}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: ${user_groups}
    shell: /bin/bash

runcmd:
  - 'TOKEN=$(curl -s -H "Metadata-Flavor: Google" "http://169.254.169.254/computeMetadata/v1/instance/service-accounts/default/token" | jq -r .access_token)'
  - echo "$TOKEN" | docker login --username iam --password-stdin cr.yandex
  - docker pull ${docker_image}

packages:%{ for pkg in jsondecode(packages) }
  - ${pkg}%{ endfor }